<html>
<body>
    <form action="/login2" method='post'>
        <table width=300>
            <tr>
                <td width = 100 align="center">아이디 : </td>
                <td><input type="text"  name="id"></td>
            </tr><br>
            <tr>
                <td align="center">암호 : </td>
                <td><input type="password"  name="pw"></td>
            </tr><br>
            <tr>
                <td width = 100 colspan=2 align="center"><input type="submit" value="Login"></td>
            </tr>
            
        </table>
    </form>
</body>
</html>
